@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* * {
  box-sizing: border-box;
} */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #ffebc9;
  background-size: 100% 30%;
  background-repeat: repeat;
  background-position: top;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

header {
  display: inline;
}

.logo h1 {
  color: #d79771;
  font-weight: 700;
  font-size: 3.5vh;
  padding: 10px;
  padding-left: 150px;
}

nav {
  position: sticky;
  width: 95rem;
  top: 0;
}

.bar {
  display: flex;
  height: 100px;
  margin: 0px;
  background-color: #753422;
}

#sidebar {
  display: flex;
  margin-left: auto;
  justify-content: space-between;
  padding: 15px;
  padding-right: 145px;
  list-style-type: none;
  background-color: #753422;
}

#sidebar a {
  top: 0;
  padding: 14px 16px;
  height: 100%;
  font-weight: 600;
  text-decoration: none;
  color: #d79771;
  font-size: 18px;
}

#sidebar a:hover {
  font-weight: bold;
  color: #d79771;
}

.navigation {
  display: flex;
  flex-grow: 1;
  width: 50%;
}

.button-mobile {
  display: none;
  flex-direction: column;
  height: 23px;
  justify-content: space-between;
  cursor: pointer;
}

.button-mobile span {
  display: block;
  width: 30px;
  height: 4px;
  border-radius: 5px;
  background-color: #d79771;
}

.kost {
  height: 250px;
}

#beranda {
  display: flex;
  width: auto;
  height: auto;
  padding-left: 150px;
  padding-right: 200px;
  padding-top: 120px;
  padding-bottom: 300px;
  color: #753422;
}

#beranda p {
  font-weight: 500;
  font-size: 20px;
}

.intro a {
  margin-right: 35px;
}

.reservasi {
  color: #753422;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 8px 8px 15px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 10px;
  padding: 10px;
  margin-top: 15px;
  margin-right: 5px;
}

.reservasi:hover {
  background-color: #d79771;
}

main {
  padding: 20;
  overflow: auto;
}

#fasilitas {
  width: auto;
  height: auto;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 120px;
  padding-bottom: 300px;
  color: #753422;
}

#fasilitas h2 {
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 5px;
  padding: 20px;
  margin-top: 20px;
  margin: 10px;
  transition: 0.8s;
  text-align: center;
}

.card img {
  align-items: flex-start;
}

.col-fas {
  display: flex;
  margin-bottom: 80px;
  font: 1.5em;
}

#about {
  width: auto;
  height: auto;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 120px;
  padding-bottom: 300px;
  color: #753422;
}

.desc1 {
  text-align: center;
}

.col-rev {
  display: flex;
  margin-bottom: 80px;
}

.biodata {
  padding: 20px;
  color: #753422;
  background-color: #d79771;
}

.biodata h2 {
  padding-top: 20px;
}

.biodata header {
  text-align: center;
}

.imgku {
  display: flex;
  padding: 10px;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 40%;
  float: right;
}

.bio {
  display: flex;
}

.icon-bio {
  padding: 10px;
  margin: 20px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

.icon-bio img {
  width: 45px;
  margin-bottom: 30px;
}

.nama {
  padding: 10px;
  margin: 15px;
  margin-left: 5px;
  width: 100%;
  float: right;
  font-size: 20px;
  font-weight: 500;
}

.nama p {
  margin-bottom: 45px;
}

.nama p a {
  color: #753422;
  font-weight: 500;
  text-decoration: none;
}

footer {
  padding: 20px;
  color: #d79771;
  background-color: #753422;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

/* Smartphone */
@media screen and (max-width: 450px) {
  .logo h1 {
    color: #d79771;
    font-weight: 700;
    font-size: 150%;
    padding-left: 1rem;
  }

  .button-mobile {
    display: flex;
  }

  #beranda {
    display: inline-block;
    padding: 10%;
    padding-top: 35%;
    margin-top: 50%;
    margin-bottom: 30px;
  }

  .intro h1 {
    font-size: 120%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .intro p {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .kost {
    display: none;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .reservasi {
    display: flex;
    justify-content: center;
    padding: 5%;
    margin-left: 1rem;
    text-align: center;
    margin-bottom: 105%;
  }

  #fasilitas {
    width: auto;
    height: auto;
    padding-left: 3%;
    padding-top: 50px;
    padding-bottom: 300px;
    color: #753422;
    align-items: center;
  }

  #fasilitas h2 {
    text-align: center;
    padding-left: 115px;
  }

  .col-fas {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 17.5%;
  }

  #about {
    width: auto;
    height: auto;
    padding: 10%;
  }

  .desc1 {
    text-align: center;
  }

  .desc1 h2 {
    font-size: 1.3rem;
  }

  .desc1 p {
    font-weight: 500;
  }

  .col-rev {
    display: inline-block;
    margin-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .card {
    margin: 10%;
  }

  .imgku {
    width: 55%;
    display: flex;
    justify-content: center;
    margin: 16%;
    margin-top: 0.5rem;
  }

  .icon-bio {
    display: inline-block;
    padding-top: 15rem;
    margin-top: 3.5rem;
    line-height: 50%;
    margin-left: 0rem;
    width: 15%;
  }

  .nama {
    padding: 50%;
    padding-top: 50px;
    margin-top: 15.5rem;
    margin-left: 1rem;
    width: 100rem;
    font-size: 16px;
    font-weight: 500;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 890px) {
  .logo h1 {
    color: #d79771;
    font-weight: 700;
    font-size: 2.5rem;
    padding-left: 1rem;
    padding-top: 0rem;
    width: 100%;
  }

  /* nav {
    position: sticky;
    width: 95rem;
    top: 0;
  }

  .bar {
    display: flex;
    height: 100px;
    margin: 0px;
    background-color: #753422;
  } */

  #sidebar {
    display: flex;
    margin-left: auto;
    justify-content: space-between;
    padding: 10px;
    padding-right: 62.5%;
    padding-top: 1.6rem;
    /* list-style-type: none;
    background-color: #753422; */
  }

  #sidebar li a {
    font-size: 125%;
  }
  #beranda {
    display: inline-block;
    justify-content: center;
    padding: 0%;
    padding-top: 15%;
  }

  .intro h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    font-size: 175%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 2.5%;
    padding-left: 4.5%;
  }

  .intro p {
    text-align: center;
    font-weight: 500;
    font-size: 180%;
    padding-top: 2.5%;
    padding-bottom: 5px;
  }

  .kost {
    width: 80%;
    height: 80%;
    display: inline-block;
    justify-content: center;
    padding-top: 2rem;
    padding-left: 10%;
    padding-bottom: 45%;
  }

  .reservasi {
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 10%;
    margin-left: 35%;
    font-size: 150%;
  }

  #fasilitas {
    width: auto;
    height: auto;
    padding-left: 3%;
    padding-top: 15%;
    color: #753422;
    align-items: center;
  }

  #fasilitas h2 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    padding-left: 30%;
  }

  .col-fas {
    display: grid;
    grid-template-columns: 75% 75%;
    align-items: center;
    padding: 9%;
    font-size: 150%;
  }

  #about {
    width: auto;
    height: auto;
    padding: 10%;
    padding-top: 15%;
  }

  .desc1 {
    text-align: center;
  }

  .desc1 h2 {
    font-size: 2.5rem;
  }

  .desc1 p {
    font-weight: 500;
    font-size: 180%;
  }

  .col-rev {
    display: inline-block;
    margin-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 175%;
  }

  .card {
    margin: 5%;
    padding: 12.5%;
  }

  .nama {
    width: 100%;
    font-size: 140%;
    font-weight: 500;
  }

  .icon-bio {
    display: inline-block;
    padding-top: 10.5%;
    line-height: 50%;
    margin-left: 1rem;
    width: 15%;
  }

  .imgku {
    width: 25%;
    display: flex;
    margin-right: 10%;
  }
}
